<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Description" content="Perspi-Shield - Long Lasting Deodorants made in the UK. Up to 72hr protection!">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">

<!--Favicon--> <link rel="icon" href="images\PS-Favicon2020.png" type="type="image/png"">
    <title>Perspi-Shield Website</title>
  </head>
  <body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="http://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<div id="header"></div>
<script src="src/script.js"></script>

<!-- brand section -->
    <div class="container-fluid text-center">
      <img src="images\Perspi-Shield-350x175px.jpg" class="img-fluid" alt="Perpsi-Shield Antiperspirant">
      <h6 class="mobile-view">LONG-LASTING DEODORANTS<br/> ROLL-ON, WIPES, LINERS</h6>
      <h6 class="desktop-view">ALUMINIUM FREE DEODORANTS / SWEAT LINERS /<br> ANTIPERSPIRANT-DEODORANT WIPES / SWEAT PROOF CLOTHING</h6>
    </div>

<!-- 1st section -->
<div class="container-fluid space-section">
  <div class="row">
    <div class="col col-6 col-md">
      <a href="#24hr"><img src="images\600PX - 24hr.png" class="img-fluid" alt="Perspi-Shield 24hr Deodorant"></a>
    </div>
    <div class="col col-6 col-md">
      <a href="#72hr"><img src="images\600PX - 72hr.png" class="img-fluid" alt="Perspi-Shield 72hr Deodorant"></a>
    </div>
    <div class="col col-6 col-md">
    <a href="#Wipes"><img src="images\600PX - PSWipes.png" class="img-fluid" alt="Perspi-Shield Wipes Antiperspirant & Deodorant"></a>
    </div>
    <div class="col col-6 col-md">
      <a href="#Liners"><img src="images\Perspi-Shield-liners-transparent.png" class="img-fluid" alt="Perspi-Shield Liners"></a>
    </div>
  </div>
</div>

<div class="container space-section">
  <a href="#seemore"><h6>See products</h6></a>
<div class="container text-center">
  <svg class="bi bi-arrow-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M4.646 9.646a.5.5 0 0 1 .708 0L8 12.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/>
  <path fill-rule="evenodd" d="M8 2.5a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-1 0V3a.5.5 0 0 1 .5-.5z"/>
</svg>
</div>
</div>

<!-- 2nd section -->
<div class="container-fluid text-center sct-blue" id="seemore">
  <img src="images\MadeInTheUK-icon+text-WHITEroundv3.svg.png" width="130px" class="img-fluid" alt="Made in the UK">
    <h3 class="white-p">Made in the UK</h3>
    <p class="white-p">LONG-LASTING DEODORANT<br />
      Deodorant for all the family & for all skin types</p>
</div>

<!-- 3rd section -->
<div class="container-fluid text-center space-gray">
  <div class="container">
    <h3>Suitable for all</h3>
    <div class="row align-items-center">
      <div class="col-md padding-mobile">
        <img src="images\family-friends.png" class="img-fluid" alt="Family" style="max-width: 100px;">
        <p>Suitable for the whole family</p>
      </div>
      <div class="col-md padding-mobile">
        <img src="images\gentle-on-skin.png" class="img-fluid" alt="Family" style="max-width: 100px;">
        <p>Gentle on all Skin types</p>
      </div>
      <div class="col-md padding-mobile">
        <img src="images\Vegan-friendly.png" class="img-fluid" alt="Family" style="max-width: 80px;">
        <p>Vegan Friendly products</p>
      </div>
    </div>
    <a class="btn btn-ps" href="https://www.the-antiperspirant-and-deodorant-company.com/product-category/perspi-shield/" role="button" target="_blank" rel="noreferrer">Buy direct with A&Dco</a>
      </div>
</div>


<!-- 24hr section -->
<div class="container text-center space-section" style="padding:40px 0px;" id="24hr">
    <h4>All day protection</h4>
<div class="container-fluid">
    <div class="row align-items-center" id="app-24">
      <div class="col-md">
        <a :href="link" target="_blank"><img :src="image" class="img-fluid" :alt="producttitle"></a>
      </div>
        <div class="col text-left">
          <h4>{{ producttitle }}</h4>
          <div class="container list-spacing">
            <ul class="list-unstyled" v-for="key in keys">
              <li><svg class="bi bi-check2 text-icon" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg> {{ key.text }}</li>
            </ul>
          </div>
          <div class="col text-center text-sm-left">
            <a :href="link" class="btn btn-ps" role="button" target="_blank" rel="noopener">Shop Now</a><b style="margin-left:10px;">{{ price }}</b>
          </div>
        </div>
    </div>
</div>
</div>

<!-- 72hr section -->
<div class="container text-center space-section" style="padding:40px 0px;" id="72hr">
    <h4>up to 72hr Protection</h4>
<div class="container-fluid">
    <div class="row align-items-center" id="app-72">
      <div class="col-md">
        <a :href="link" target="_blank"><img :src="image" class="img-fluid" alt="Perspi-Shield 72hr Deodorant"></a>
      </div>
        <div class="col text-left">
          <h4>{{ producttitle }}</h4>
        <div class="container list-spacing">
          <ul class="list-unstyled" v-for="key in keys">
            <li><svg class="bi bi-check2 text-icon" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
          </svg> {{ key.text }}</li>
          </ul>
        </div>
        <div class="col text-center text-sm-left">
          <a :href="link" class="btn btn-ps" role="button" target="_blank" rel="noopener">Shop Now</a><b style="margin-left:10px;">{{ price }}</b>
        </div>
        </div>
    </div>
</div>
</div>

<!-- Blue Banner -->
<div class="container-fluid text-center space-section sct-blue">
  <div class="container">
    <img src="images\daily-tick.png" alt="Use daily" width="120px;" style="margin-bottom:15px;">
    <h4 class="white-p" style="line-height: 1.4em;">Use daily<br >for long-lasting protection</h4>
  </div>

</div>

<!-- Wipes section -->
<div class="container text-center space-section" style="padding:40px 0px;" id="Wipes">
    <h4>On-the-Go protection</h4>
<div class="container-fluid">
    <div class="row align-items-center" id="app-wipes">
      <div class="col-md">
        <a :href="link" target="_blank"><img :src="image" class="img-fluid" alt="Perspi-Shield Deodorant Wipes"></a>
      </div>
        <div class="col text-left">
          <h4>{{ producttitle }}</h4>
          <div class="container list-spacing">
            <ul class="list-unstyled" v-for="key in keys">
              <li><svg class="bi bi-check2 text-icon" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg> {{ key.text }}</li>
            </ul>
          </div>
          <div class="col text-center text-sm-left">
            <a :href="link" class="btn btn-ps" role="button" target="_blank" rel="noopener">Shop Now</a><b style="margin-left:10px;">{{ price }}</b>
          </div>
        </div>
    </div>
</div>
</div>


<!-- Liners section -->
<div class="container text-center space-section" style="padding:40px 0px;" id="Liners">
    <h4>Underarm Sweat Liners</h4>
<div class="container-fluid">
    <div class="row align-items-center" id="app-liners">
      <div class="col-md">
        <a :href="link" target="_blank"><img :src="image" class="img-fluid" alt="Perspi-Shield Deodorant Liners"></a>
      </div>
        <div class="col text-left">
          <h4>{{ producttitle }}</h4>
        <div class="container list-spacing">
          <ul class="list-unstyled" v-for="key in keys">
            <li><svg class="bi bi-check2 text-icon" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
          </svg> {{ key.text }}</li>
          </ul>
        </div>
        <div class="col text-center text-sm-left">
          <a :href="link" class="btn btn-ps" role="button" target="_blank" rel="noopener">Shop Now</a><b style="margin-left:10px;">{{ price }}</b>
        </div>
        </div>
    </div>
</div>
</div>


<!-- Featured in section -->
<div class="container-fluid text-center space-gray">
  <div class="container">
    <h3>As featured in</h3>
    <div class="row">
      <div class="col-sm text-align-center">
        <img src="images\HealthMAGAZINE.png" width="200px" class="img-fluid" alt="Perspi-Shield featured in Health Magazine">
      </div>
      <div class="col-sm text-align-center">
        <img src="images\Wedding-Ideas-2017-Logo.png" width="200px" class="img-fluid" alt="Perspi-Shield in Wedding Magazine">
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="container-fluid text-center footer-style">
  <div class="container text-center"style="padding:20px;">
  &copy; 2010<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script>, Perspi-Shield is manufactured and owned by <a href="https://www.avanor.co.uk" target="_blank" rel="noreferrer" style="color:white;">Avanor Healthcare LTD</a>.
</div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="src/store.js"></script>

    </script>
  </body>
</html>
