$main-colour: #034D6E;
$main-colour-brighter: #0B73A5;
$second-colour: white;
$header-font: 'Poppins', sans-serif;


%htext-main {
  font-family:$header-font;
  text-align: center;
  color: $main-colour;
}

//smooth scroll for all clickable elements
* {
    -webkit-overflow-scrolling: touch;
}



html {
  scroll-behavior: smooth;
}

h1, h4, h6 {
@extend %htext-main;
}

h4 {
@extend %htext-main;
margin-bottom: 30px;
}

h3 {
  margin-bottom: 30px;
}

h6 {
  font-size: 0.8em;
  letter-spacing: 0.2em;
  line-height: 1.5em;
}

@media screen and (min-width: 431px) {
.mobile-view {display: none;}
.desktop-view {display: block;}
}
@media screen and (max-width: 430px) {
.mobile-view {display: block;}
.desktop-view {display: none;}
}

.white-p {
  color: $second-colour;
}

.space-section {
  margin: 100px auto;
}
.space-gray {
  padding: 100px 0px;
  background-color: #E0E0E0;
}

.list-spacing {
  margin: 40px 0px;
}

.btn-ps {
  background-color: $main-colour;
  color: $second-colour;
  &:hover {
    color: $second-colour;
    background-color: $main-colour-brighter;
  }
}

.text-icon {
  color: $main-colour;
}

.sct-blue {
  background-color: $main-colour-brighter;
  padding: 50px 0px;
}


.footer-style {
  background-color: $main-colour;
  color: $second-colour;
  padding: 5px 0px;
}
