$main-colour: #034D6E;
$main-colour-brighter: #0B73A5;
$second-colour: white;
$header-font: Poppins;

html {
  scroll-behavior: smooth;
}

h1, h4, h6 {
  font-family:$header-font;
  text-align: center;
  color: $main-colour;
}

h6 {
  font-size: 0.8em;
  letter-spacing: 0.25em;
}

.white-p {
  color: $second-colour;
}

.space-section {
  margin: 100px auto;
}

.btn-ps {
  background-color: $main-colour;
  color: $second-colour;
  &:hover {
    color: $second-colour;
    background-color: $main-colour-brighter;
  }
}

.text-icon {
  color: $main-colour;
}

.sct-blue {
  background-color: $main-colour-brighter;
  padding: 20px 0px;
}
